/* The CSS for the city search form */

h1 {
    width: 100%;
    margin: auto;
    text-align: center;
}

div.jumbotron {
    width: 50%;
    height: 60%;
    margin-left: 25%;
    margin-top: 3%;
    border-radius: 5px;
    border: 2px solid #c8c8c8;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  input[type=submit] {
    margin-top: 25px;
}

label { padding: 5px;
    font-weight: bold;}

