h1 {
    font-size: 50px;
    font-family: 'Solway', serif;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
}

#cityResults {
    font-family: "Helvetica, sans-serif";
    border-collapse: collapse;
    width: 100%;
  }
  
  #cityResults td, #cityResults th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #cityResults tr:nth-child(even){background-color: #f2f2f2;}
  
  #cityResults tr:hover {background-color: #ddd;}
  
  #cityResults th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #333333;
    color: white;
  }
