/*  CSS for the home page of the app */


body { background-image: url("../images/sandiego.jpg");
        background-repeat: no-repeat;
        background-size: cover;
}

.container {    display: flex;
                justify-content: space-between; }

.container div {
            color: whitesmoke;
            text-align: center;
            text-transform: uppercase;
            font-size: 40px;
            font-weight: bold;
            border: 1px solid whitesmoke;
            padding: 50px 50px 50px 50px;
        }

h1 {margin-bottom: 300px;
    text-align: center;
    margin-top: 100px;
    font-size: 110px;
    font-family: 'Solway', serif;
    color: #000000;
}
