h1 {margin-bottom: 10px;
    text-align: center;
    margin-top: 300px;
    font-size: 200px;
    font-family: 'Solway', serif;
    color: #000000;
}

body {
    background-color: #a8a6a5;
}

.jumbotron {
    height: 10%;
    padding-bottom: 0;
}