/* CSS for the sign-up form */

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

div.jumbotron {
    position: absolute;
    width: 50%;
    height: 70%;
    margin-left: 25%;
    margin-top: 3%;
    border-radius: 5px;
    border: 2px solid #c8c8c8;
}

input[type=submit] {
    margin-top: 10px;
}

h2 {
    font-size: 50px;
    font-family: 'Solway', serif;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
}

label { padding: 5px;
        font-weight: bold;}
