<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cities</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <div th:replace='visual_review'/>
</head>
<body>
    <th:block th:replace="header :: header"/>

    <ul>
        <li th:each="city : ${cities}" th:text="${city.name}">San Diego</li>
    </ul>
</body>
