<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cities</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <div th:replace='visual_review'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Solway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./../static/css/city_search.css" th:href="@{/css/city_search.css}">
</head>
<body>
    <th:block th:replace="header :: header"/>

    <h1>Find city results within radius</h1>
    <div class="jumbotron">
        <form th:action="@{/city/search}" method="get">
            <label for="x_coordinate">X Coordinate</label>
            <input type="text" name="x" id="x_coordinate" placeholder="e.g. 0"><br>

            <label for="y_coordinate">Y Coordinate</label>
            <input type="text" name="y" id="y_coordinate" placeholder="e.g. 0"><br>

            <label for="circle_radius">Radius</label>
            <input type="text" name="radius" id="circle_radius" placeholder="e.g. 10000"><br>

            <input type="submit" class="btn btn-primary btn-block" value="Find Cities">
        </form>
    </div>
<h1>Find cities by name</h1>
    <div class="jumbotron">
        <form th:action="@{/city/searchname}" method="get">
       
            <label for="city_name">Partial City Name</label>
            <input type="text" name="name" id="city_name" placeholder="e.g. san">

            <input type="submit" class="btn btn-primary btn-block" value="Find Cities">
        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</body>
