<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cities</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <div th:replace='visual_review'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Solway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./../static/css/compare_cities.css" th:href="@{/css/compare_cities.css}">
</head>
<body>
    <th:block th:replace="header :: header"/>

    <h1>Compare two cities</h1>
        <div class="jumbotron" th:fragment="compare_cities_form">
            <form action="compare_cities_result.html" th:action="@{/compare-cities}" method="get">
                <label for="left_city">First City</label><br>
                <input type="text" name="left_city" id="left_city" placeholder="e.g. San Francisco">

                <label for="right_city">Second City</label><br>
                <input type="text" name="right_city" id="right_city" placeholder="e.g. San Diego">

                <input type="submit" class="btn btn-primary btn-lg btn-block" value="Compare">
            </form>
        </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</body>
