<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Compare Cities</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <div th:replace='visual_review'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Solway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./../static/css/compare_cities_result.css" th:href="@{/css/compare_cities_result.css}">
</head>
<body th:object="${cityDeltas}">
    <th:block th:replace="header :: header"/>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#home.html">Compare</a>
              </div>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="sign_up_form.html"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              </ul>
            </div>
        </nav>

    <h1 th:text="#{metric_comparison.comparing_cities(*{cityLeft.name}, *{cityRight.name})}">
        Comparing the city of San Diego
        to the city of San Marcos
    </h1>

    <table id="cityResults">
        <tr>
            <th th:text="*{cityLeft.name}">Categories</th>
            <th th:text="#{metric_comparison.delta_header}">San Diego</th>
            <th th:text="*{cityRight.name}">% Diffrence</th>
            <th th:text="*{cityRight.name}">San Marcos</th>


        </tr>
        <tr th:each="delta : *{deltas}" th:object="${delta}">
            <td th:text="*{metricLeft.getClass().getSimpleName()}">Gas</td>
            <td th:text="*{metricLeft.value}">3.15</td>
            <td th:text="*{delta}">0.9</td>
            <td th:text="*{metricRight.value}">3.50</td>
        </tr>
        <tr th:each="leftUnmatched : *{cityLeftUnmatched}" th:object="${leftUnmatched}">
            <td th:text="*{getClass().getSimpleName()}">Median House Price</td>
            <td th:text="*{value}">476,234</td>
            <td>61.7</td>
            <td>772,301</td>
        </tr>
        <tr th:each="rightUnmatched : *{cityRightUnmatched}" th:object="${rightUnmatched}">
            <td th:text="*{getClass().getSimpleName()}">Electric Bill</td>
            <td>89</td>
            <td>62.7</td>
            <td th:text="*{value}">142</td>
        </tr>
    </table>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</body>
</html>
