<!DOCTYPE HTML>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <th:block th:replace="visual_review"/>

    <!--for compare cities form which really should be included in the fragment so an import is all that's needed-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Solway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./../static/css/compare_cities.css" th:href="@{/css/compare_cities.css}">
</head>
<body>
    <th:block th:replace="header :: header"/>

    <h1 sec:authorize="!isAuthenticated()" th:text="#{hello}">Hello, World!</h1>
    <h1 sec:authorize="isAuthenticated()"
        th:text="#{hello_user(${#authentication.name})}">Hello, user!</h1>

    <th:block th:replace="compare_cities :: compare_cities_form"/>
</body>
</html>
