<!DOCTYPE html>
<html>
<head>
    <title>Header</title>
</head>
<body>
    <div class="topnav" th:fragment="header">
        <div class="topnav-left">
            <a class="active" th:href="@{/}" th:text="#{link.home}">Home</a>
            <a th:href="@{/compare-cities}" th:text="#{link.compare_cities}">Compare Cities</a>
            <a th:href="@{/city/search}" th:text="#{link.search_cities}">Search Cities</a>
        </div>

        <div class="topnav-right">
            <th:block sec:authorize="!isAuthenticated()">
                <a th:href="@{/login}" th:text="#{link.login}" >Log in!</a>
                <a th:href="@{/sign-up}" th:text="#{link.sign_up}" >Sign Up!</a>
            </th:block>
            <th:block sec:authorize="isAuthenticated()">
                <a th:href="@{/user/__${#authentication.name}__}" th:text="#{link.user(${#authentication.name})}">User</a>
                <a th:href="@{/logout}" th:text="#{link.logout}">Log out.</a>
            </th:block>
        </div>

        <link rel="stylesheet" href="./../static/css/header.css" th:href="@{/css/header.css}">
    </div>
</body>
</html>
