<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Solway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./../static/css/sign_up_form.css" th:href="@{/css/sign_up_form.css}">
<head>
    <title>Sign-Up Form</title>
    <th:block th:replace="visual_review"/>
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="home.html">Compare</a>
              </div>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="sign_up_form.html"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              </ul>
            </div>
        </nav>
    <th:block th:replace="header :: header"/>

    <div class="jumbotron">
        <h2 th:text="#{sign_up.sign_up_to_app}">Sign up to Compare!</h2>
        <div th:errors"${signUp.*}"></div>
        <form action="sign_up_success.html" th:action="@{/sign-up}" th:object="${signUp}" method="post">
                <label for="username">Username</label><br>
                <input type="text" id="username" th:field="*{username}"><br>
                <label for="pswd" th:text="#{sign_up.password}">Password</label><br>
                <input type="password" id="pswd" th:field="*{password}"><br>
                <label for="confirm_pswd" th:text="#{sign_up.confirm_password}">Confirm Password</label><br>
                <input type="password" id="confirm_pswd" th:field="*{passwordConfirmation}"><br>
                <input type="submit" class="btn btn-primary btn-lg btn-block" value="Sign-Up!" th:value="#{sign_up.sign_up}" input>

            <ul th:if="${#fields.hasErrors('*')}">
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
            </ul>
        </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</body>
</html>
