<!DOCTYPE html>
<html>
    <head>
        <title>Success!</title>
        <th:block th:replace="visual_review"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Solway&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="./../static/css/city_search.css" th:href="@{/css/city_search.css}">
    </head>
    <body>
        <!-- Navigation Bar -->
        <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand" href="home.html">Compare</a>
                  </div>
                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="sign_up_form.html"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                  </ul>
                </div>
        </nav>
        <th:block th:replace="header :: header"/>
        <div class="jumbotron">
            <h1>Success<br><span class="glyphicon glyphicon-ok"></span></h1>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </body>
</html>
